
<html>
<body>

    <h1>ABOUT US</h1>
    <img src="Elaine.png" alt="Elaine's picture"><br/>
    <p>My name is Elaine Nankanja. I am a second year student of Computer programming at Durham College Oshawa.<br/>
    I have worked with languages such as Java, c#, c++, JavaScript and Python. My long term goal is to
     work with artificially intelligent systems.</p>
   <br/>

   <img src="Dhruv.jpg" alt="Dhruv's picture"><br/>
    <p>Hi There, Myself Dhruv Patel. I am currently enrolled in 3 Year Advanced Diploma in Computer Progamming Analysis at DC. <br/>
    I have gained knowledge in various programming languages and trying to evolve myself into the technical field and constantly making progress. 
    </p>
   <br/>
   
</body>
</html>
